<!DOCTYPE html>
<!-- HTML document declaration and language setting -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Documents</title>
</head>
<body>
<ul>
    <!-- Thymeleaf loop to iterate over the list of documents -->
    <li th:each="document : ${documents}">
        <!-- Display the title of the document -->
        <span th:text="${document.title}">Title</span>
        <!-- Display the description of the document -->
        of <span th:text="${document.description}">Description</span>
    </li>
</ul>
<!-- Thymeleaf URL  for the logout endpoint -->
<p><a th:href="@{/logout}">Logout</a></p>
</body>
</html>