<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
</head>
<body>
<h1>Register</h1>
<form th:action="@{/register}" th:object="${user}" method="post"> <!-- th:object binds the form to a specific object and @{/register} defines the path and the method its using is Post-->
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" th:field="*{username}" required> <!-- th:field binds individual form fields to the properties of the object.-->
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" th:field="*{password}" required>
    </div>
    <div>
        <label for="role">Role:</label>
        <select id="role" th:field="*{role}">
            <option value="USER">User</option>
            <option value="ADMIN">Admin</option>
            <option value="MANAGER">Manager</option>
        </select>
    </div>
    <button type="submit">Register</button>
</form>
</body>
</html>
